
@model CommonModels.ViewModel.EmployeeDetailViewModel

@{
    ViewData["Title"] = "AddEmployeeDetail";
}

<h1>AddEmployee</h1>

<h4>EmployeeDetailView</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEmployeeDetail" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesignationId" class="control-label"></label>
                <input asp-for="DesignationId" class="form-control" />
                <span asp-validation-for="DesignationId" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="ProfilePicture" class="control-label"></label>
                <input type="file" name="ProfilePicture" id="fileupload" class="form-control" />
            </div>*@

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="images/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataOfBirth" class="control-label"></label>
                <input asp-for="DataOfBirth" class="form-control" />
                <span asp-validation-for="DataOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />

                <a asp-action="Index">Back to List</a>

            </div>
      </form>

    </div>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        //$(document).ready(function () {
        //    $('#btnsave').click(function () {
        //        var form = $('#employeeForm')[0];
        //        var formData = new FormData(form);

        //        $.ajax({
        //            url: 'EmployeeDetail/AddEmployeeDetail',
        //            type: 'POST',
        //            data: formData,
        //            processData: false,
        //            contentType: false,
        //            success: function (response) {
        //                // Handle success response
        //                console.log(response);
        //            },
        //            error: function (xhr, status, error) {
        //                // Handle error response
        //                console.error('Image upload failed: ' + error);
        //            }
        //        });
        //    });
        //});
        // Enable or disable the button based on the form validity
        $(function () {
            // Disable the button initially
            $("input[type='submit']").prop('disabled', true);
            $("form input").on("input", function () {
                var isFormValid = true;
                $("form input").each(function () {
                    if ($(this).val() === "") {
                        isFormValid = false;
                        return false;
                    });
                $("input[type='submit']").prop('disabled', !isFormValid);
            });
        });
    </script>
}
