@model CommonModels.ViewModel.EmployeeDetailViewModel

@{
    ViewData["Title"] = "EditEmployee";
}

<h1>EditEmployee</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditEmployee" FormMethod.Post, enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DesignationId)
                @Html.DropDownListFor(model => model.DesignationId, ViewBag.Designations as SelectList, "Select designations", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DesignationId)
            </div>


            <div class="form-group">
                <label asp-for="ProfilePicture" class="control-label"> </label>
                <img src="~/Images/@Model.ProfilePicture" height="50" width="50" />
                <input type="file" name="ImageFile" id="fileName" onchange="validateFileType()" required class="form-control" accept="image/gif,image/jpg,image/jpeg,image/png" />
                &nbsp;
            </div>

            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataOfBirth" class="control-label"></label>
                <input asp-for="DataOfBirth" class="form-control" />
                <span asp-validation-for="DataOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <button type="submit" asp-controller="EmployeeDetail" asp-action="DeleteEmployee" class="btn btn-danger">Delete</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function () {
            // Disable the button initially
            $("input[type='submit']").prop('disabled', true);

            $("form input").on("input", function () {
                var isFormValid = true;
                $("form input").each(function () {
                    if ($(this).val() === "") {
                        isFormValid = false;
                        return false;
                    }
                });

                // Check if the selected file is a PNG or JPG image
                $("#fileName").on("change", function () {
                    var fileInput = $(this);
                    var fileName = fileInput.val();
                    var fileExtension = fileName.split('.').pop().toLowerCase();

                    if (fileExtension !== "png" && fileExtension !== "jpg" && fileExtension !== "jpeg") {
                        alert("Please select a PNG, JPG, or JPEG image file.");
                        fileInput.val(" "); // Clear the file input value
                        $("input[type='submit']").prop('disabled', true); // Disable the submit button
                    } else {
                        $("input[type='submit']").prop('disabled', !isFormValid); // Enable/disable submit button based on form validity
                    }
                });
            });
        });
    </script>
}
